<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>AWS Webpage</title>
    <style>
    </style>
  </head>
  <body>
           <div class="container my-5" style="width: 700px;">
	      <!--  <h2 style="color:blue;">Welcome to CloudZenix Billing Dashboard</h2>-->
      </div>
      <h4 style= "color: brown; text-align: center; margin: 50px;">Enter Detials</h4>
      <div class="container">

     
      <form action="/table.html" method="post"  >
        <center>
          <label style="color: blue; " > <strong>AccountNames:</strong> </label><br> 
          <select class="teamForm" id="teamDropdownSelector" type="text" name="tvalue" placeholder="Select A Team">
            <option disabled selected>Select a Account</option>
            <option id="Main" value="Main">Main</option>
        </select>
        </center> <br>
        <center>
          <label style="color: blue; " > <strong>RegionNames:</strong> </label><br> 
          <select class="teamForm" id="teamDropdownSelector" type="text" name="rvalue" placeholder="Select A region">
            <option disabled selected>Select a region</option>
            <option id="us-east-1" value="us-east-1">us-east-1</option>
            <option id="us-east-2" value="us-east-2">us-east-2</option>
            <option id="us-west-1" value="us-west-1">us-west-1</option>
            <option id="us-west-2" value="us-west-2">us-west-2</option>
            <option id="ap-south-1" value="ap-south-1">ap-south-1</option>
       </select>
        </center><br>
        <center>
          <label style="color: blue; " > <strong>ServiceNames:</strong> </label><br> 
          <select class="teamForm" id="teamDropdownSelector" type="text" name="svalue" placeholder="Select A Service">
            <option disabled selected>Select a service</option>
            <option id="ec2" value="ec2">EC2</option>
       </select>
        </center><br>
        <br>
        <div><center><input class="file_submit" type="Submit"></center></center></div>
    </form>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
    <script>

    </script>
  </body>

</html>
